<div alt-row="">
  <!-- left column -->
  <div class="col-md-6">
    <!-- general form elements -->
    <alt-box altColor="primary" altTitle="Quick Example" [altCustomBody]="true">
      <!-- form start -->
      <form alt-form customBody ngPreserveWhitespaces altSubmitTitle="Submit">
        <div alt-form-input altTitle="Email address" altType="email" altPlaceHolder="Enter email" altId="exampleInputEmail1"></div>
        <div alt-form-input altTitle="Password" altType="password" altPlaceHolder="Password" altId="exampleInputPassword1"></div>
        <div alt-form-input altTitle="File input" altType="file" altId="exampleInputFile">
          <p class="help-block">Example block-level help text here.</p>
        </div>
        <div alt-form-single-checkbox>
          Check me out
        </div>
      </form>
    </alt-box>
    <!-- /.box -->

    <!-- Form Element sizes -->
    <alt-box altColor="success" altTitle="Different Height">
      <div alt-form-input [altFormGroup]="false" altPlaceHolder=".input-lg" altSize="lg"></div>
      <!--<input class="form-control input-lg" type="text" placeholder=".input-lg">-->
      <br>
      <div alt-form-input [altFormGroup]="false" altPlaceHolder="Default input"></div>
      <!--<input class="form-control" type="text" placeholder="Default input">-->
      <br>
      <div alt-form-input [altFormGroup]="false" altPlaceHolder=".input-sm" altSize="sm"></div>
      <!--<input class="form-control input-sm" type="text" placeholder=".input-sm">-->
    </alt-box>
    <!-- /.box -->

    <alt-box altColor="danger" altTitle="Different Width">
      <div alt-row>
        <div class="col-xs-3" alt-form-input [altFormGroup]="false" altPlaceHolder=".col-xs-3">
        </div>
        <div class="col-xs-4" alt-form-input [altFormGroup]="false" altPlaceHolder=".col-xs-4">
        </div>
        <div class="col-xs-5" alt-form-input [altFormGroup]="false" altPlaceHolder=".col-xs-5">
        </div>
      </div>
    </alt-box>
    <!-- /.box -->

    <!-- Input addon -->
    <alt-box altColor="info" altTitle="Input Addon">
        <div alt-form-input [altFormGroup]="false" altPre="@" altPlaceHolder="Username"></div>
        <br>

        <div alt-form-input [altFormGroup]="false" altPost=".00"></div>
        <br>

        <div alt-form-input [altFormGroup]="false" altPre="$" altPost=".00"></div>

        <h4>With icons</h4>

        <div alt-form-input altType="email" [altFormGroup]="false" altPreIcon="fa fa-envelope" altPlaceHolder="Email"></div>
        <br>

        <div alt-form-input [altFormGroup]="false" altPostIcon="fa fa-check"></div>
        <br>

        <div alt-form-input [altFormGroup]="false" altPreIcon="fa fa-dollar" altPostIcon="fa fa-ambulance"></div>

        <h4>With checkbox and radio inputs</h4>

        <div class="row">
          <div class="col-lg-6">
            <div alt-form-input [altFormGroup]="false" [altPreCheckbox]="true"></div>
          </div>
          <div class="col-lg-6">
            <div alt-form-input [altFormGroup]="false" [altPreRadio]="true"></div>
          </div>
        </div>
        <!-- /.row -->

        <h4>With buttons</h4>

        <p class="margin">Large: <code>.input-group.input-group-lg</code></p>

        <div class="input-group input-group-lg">
          <div class="input-group-btn">
            <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown">Action
              <span class="fa fa-caret-down"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <!-- /btn-group -->
          <input type="text" class="form-control">
        </div>
        <!-- /input-group -->
        <p class="margin">Normal</p>

        <div alt-form-input [altFormGroup]="false" altPreButton="Action" altPreButtonColor="danger"></div>
        <!-- /input-group -->
        <p class="margin">Small <code>.input-group.input-group-sm</code></p>

      <div alt-form-input [altFormGroup]="false" altInputGroupSize="sm" altPostButton="Go!" [altPostButtonFlat]="true"
           altPostButtonColor="info"></div>
    </alt-box>
    <!-- /.box -->

  </div>
  <!--/.col (left) -->
  <!-- right column -->
  <div class="col-md-6">
    <!-- Horizontal Form -->
    <alt-box altColor="info" altTitle="Horizontal Form" [altCustomBody]="true">
      <!-- form start -->
      <form  alt-form customBody class="form-horizontal">
        <div alt-form-input altTitle="Email" altType="email" altPlaceHolder="Email"
             altId="inputEmail3" [altHorizontal]="true"></div>
        <div alt-form-input altTitle="Password" altType="password" altPlaceHolder="Password"
             altId="inputPassword3" [altHorizontal]="true"></div>
        <div alt-form-single-checkbox [altHorizontal]="true">Remember me</div>

        <ng-container altFooter>
          <button alt-button>Cancel</button>
          <button alt-button type="submit" altColor="info" class="pull-right">Sign in</button>
        </ng-container>
        <!-- /.box-footer -->
      </form>
    </alt-box>
    <!-- /.box -->
    <!-- general form elements disabled -->
    <alt-box altColor="warning" altTitle="General Elements" [altCustomBody]="true">
      <form customBody alt-form [altNoFooter]="true">
        <!-- text input -->
        <div alt-form-input altTitle="Text" altPlaceHolder="Enter ..."></div>
        <div alt-form-input altTitle="Text Disabled" altPlaceHolder="Enter ..." [altDisabled]="true"></div>

        <!-- textarea -->
        <div alt-form-textarea altRows="3" altPlaceHolder="Enter ..." altTitle="Textarea"></div>
        <div alt-form-textarea altRows="3" altPlaceHolder="Enter ..." altTitle="Textarea Disabled" [altDisabled]="true"></div>

        <!-- input states -->
        <div alt-form-input altTitle="Input with success" altInputResult="success" altPlaceHolder="Enter ..." altId="inputSuccess">
          <span class="help-block">Help block with success</span>
        </div>
        <div alt-form-input altTitle="Input with warning" altInputResult="warning" altPlaceHolder="Enter ..." altId="inputWarning">
          <span class="help-block">Help block with warning</span>
        </div>
        <div alt-form-input altTitle="Input with error" altInputResult="error" altPlaceHolder="Enter ..." altId="inputError">
          <span class="help-block">Help block with error</span>
        </div>
        <!--<div class="form-group has-success">-->
          <!--<label class="control-label" for="inputSuccess"><i class="fa fa-check"></i> Input with success</label>-->
          <!--<input type="text" class="form-control" id="inputSuccess" placeholder="Enter ...">-->
          <!--<span class="help-block">Help block with success</span>-->
        <!--</div>-->
        <!--<div class="form-group has-warning">-->
          <!--<label class="control-label" for="inputWarning"><i class="fa fa-bell-o"></i> Input with-->
            <!--warning</label>-->
          <!--<input type="text" class="form-control" id="inputWarning" placeholder="Enter ...">-->
          <!--<span class="help-block">Help block with warning</span>-->
        <!--</div>-->
        <!--<div class="form-group has-error">-->
          <!--<label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> Input with-->
            <!--error</label>-->
          <!--<input type="text" class="form-control" id="inputError" placeholder="Enter ...">-->
          <!--<span class="help-block">Help block with error</span>-->
        <!--</div>-->

        <!-- checkbox -->
        <div class="form-group">
          <div alt-form-single-checkbox>Checkbox 1</div>
          <div alt-form-single-checkbox>Checkbox 2</div>
          <div alt-form-single-checkbox [altDisabled]="true">Checkbox disabled</div>
        </div>

        <!-- radio -->
        <div class="form-group">
          <div alt-form-radio [altChecked]="true" altName="optionsRadios" altValue="option1">Option one is this and that&mdash;be sure to include why it's great</div>
          <div alt-form-radio altName="optionsRadios" altValue="option2">Option two can be something else and selecting it will deselect option one</div>
          <div alt-form-radio altName="optionsRadios" altValue="option3" [altDisabled]="true">Option three is disabled</div>
        </div>

        <ng-template #selectOptions ngPreserveWhitespaces>
          <option>option 1</option>
          <option>option 2</option>
          <option>option 3</option>
          <option>option 4</option>
          <option>option 5</option>
        </ng-template>
        <!-- select -->
        <div alt-form-select altTitle="Select">
          <ng-container *ngTemplateOutlet="selectOptions"></ng-container>
        </div>
        <div alt-form-select altTitle="Select Disabled" [altDisabled]="true">
          <ng-container *ngTemplateOutlet="selectOptions"></ng-container>
        </div>

        <!-- Select multiple-->
        <div alt-form-select altTitle="Select Multiple" [altMultiple]="true" ngPreserveWhitespaces>
          <ng-container *ngTemplateOutlet="selectOptions"></ng-container>
        </div>
        <div alt-form-select altTitle="Select Multiple Disabled" [altDisabled]="true" [altMultiple]="true">
          <ng-container *ngTemplateOutlet="selectOptions"></ng-container>
        </div>
      </form>
    </alt-box>
    <!-- /.box -->
  </div>
  <!--/.col (right) -->
</div>
<!-- /.row -->
