<div class="row">
  <div class="col-md-6">
    <alt-box altTitle="Bordered Table" [altHasFooter]="true" altFooterClass="clearfix">
      <alt-table [altHeadData]="headData" [altDataSet]="dataSet"></alt-table>

      <ng-container altFooter>
        <ng-container [ngTemplateOutlet]="paginationTemplate"></ng-container>
      </ng-container>
    </alt-box>

    <alt-box altTitle="Condensed Full Width Table" [altWithoutBorder]="true"
             altFooterClass="clearfix" [altNoPadding]="true">
      <alt-table [altHeadData]="headData" [altDataSet]="dataSet" [altBordered]="false" [altCondensed]="true"></alt-table>
    </alt-box>
  </div>

  <div class="col-md-6">
    <alt-box altTitle="Simple Full Width Table" [altWithoutBorder]="true"
             altFooterClass="clearfix" [altNoPadding]="true" [altCustomHeader]="true">
      <ng-container altHeader>
        <h3 alt-box-title>Simple Full Width Table</h3>
        <ng-container [ngTemplateOutlet]="paginationTemplate"></ng-container>
      </ng-container>

      <alt-table [altHeadData]="headData" [altDataSet]="dataSet" [altBordered]="false"></alt-table>
    </alt-box>

    <alt-box altTitle="Striped Full Width Table" [altWithoutBorder]="true"
             altFooterClass="clearfix" [altNoPadding]="true">
      <alt-table [altHeadData]="headData" [altDataSet]="dataSet" [altBordered]="false" [altStriped]="true"></alt-table>
    </alt-box>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <alt-box [altWithoutBorder]="true"
             [altNoPadding]="true" [altCustomHeader]="true">
      <ng-container altHeader>
        <h3 alt-box-title>Responsive Hover Table</h3>

        <div class="box-tools">
          <alt-search-box (altOnSearch)="onSearch($event)" (altOnChange)="onSearchTextChange($event)"></alt-search-box>
        </div>
      </ng-container>
      <alt-table [altHeadData]="headData2" [altDataSet]="dataSet2" [altBordered]="false" [altHover]="true"></alt-table>
    </alt-box>
  </div>
</div>

<ng-template #progress let-param="param">
  <alt-progress *ngIf="param" altSize="xs" [altActive]="param['active']" [altColor]="param['color']"
                [altPercent]="param['percent']"></alt-progress>
</ng-template>

<ng-template #badgeTemplate let-param="param">
  <span alt-badge *ngIf="param" [altColor]="param['color']">{{param['percent']}}%</span>
</ng-template>

<ng-template #statusTemplate let-param="param">
  <span alt-label [altColor]="param['color']">{{param['title']}}</span>
</ng-template>

<ng-template #paginationTemplate>
  <div class="box-tools">
    <ul class="pagination pagination-sm no-margin pull-right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</ng-template>
