
<div alt-row>
  <div class="col-md-12">
    <alt-box [altBoxData]="{withoutBorder: true, color: 'primary', customHeader: true}">
      <ng-container header ngPreserveWhitespaces>
        <i class="fa fa-edit"></i>
        <h3 title class="box-title">Buttons</h3>
      </ng-container>
      <p>Various types of buttons. Using the base class <code>.btn</code></p>
      <table class="table table-bordered text-center">
        <tr>
          <th>Normal</th>
          <th>Large <code>.btn-lg</code></th>
          <th>Small <code>.btn-sm</code></th>
          <th>X-Small <code>.btn-xs</code></th>
          <th>Flat <code>.btn-flat</code></th>
          <th>Disabled <code>.disabled</code></th>
        </tr>
        <tr *ngFor="let buttonRow of buttons">
          <td *ngFor="let button of buttonRow">
            <button alt-button [altColor]="button.color" [altBlock]="true" [altDisabled]="button.disabled" [altSize]="button.size" [altFlat]="button.flat">{{button.color | titlecase}}</button>
          </td>
        </tr>
      </table>
    </alt-box>
  </div>
</div>
<!-- ./row -->
<div class="row">
  <div class="col-md-6">
    <!-- Block buttons -->
    <alt-box [altBoxData]="{title: 'Block Buttons', withoutBorder: true, withoutBorder: true}">
      <button alt-button [altBlock]="true">.btn-block</button>
      <button alt-button [altBlock]="true" [altFlat]="true">.btn-block .btn-flat</button>
      <button alt-button [altBlock]="true" altSize="sm">.btn-block .btn-sm</button>
    </alt-box>

    <!-- Horizontal grouping -->
    <alt-box [altBoxData]="{title: 'Horizontal Button Group'}">
        <p>
          Horizontal button groups are easy to create with bootstrap. Just add your buttons
          inside <code>&lt;div alt-button-group&gt;&lt;/div&gt;</code>
        </p>

        <table class="table table-bordered">
          <tr>
            <th>Button</th>
            <th>Icons</th>
            <th>Flat</th>
            <th>Dropdown</th>
          </tr>
          <tr *ngFor="let color of ['default', 'info', 'danger', 'warning', 'success']">
            <td>
              <div alt-button-group>
                <button alt-button [altColor]="color">Left</button>
                <button alt-button [altColor]="color">Middle</button>
                <button alt-button [altColor]="color">Right</button>
              </div>
            </td>
            <td>
              <div alt-button-group>
                <button alt-button [altColor]="color" altIcon="fa fa-align-left"></button>
                <button alt-button [altColor]="color" altIcon="fa fa-align-center"></button>
                <button alt-button [altColor]="color" altIcon="fa fa-align-right"></button>
              </div>
            </td>
            <td>
              <div alt-button-group>
                <button alt-button [altColor]="color" altIcon="fa fa-align-left"></button>
                <button alt-button [altColor]="color" altIcon="fa fa-align-center"></button>
                <button alt-button [altColor]="color" altIcon="fa fa-align-right"></button>
              </div>
            </td>
            <td>
              <div alt-button-group>
                <button alt-button [altColor]="color">1</button>
                <button alt-button [altColor]="color">2</button>

                <div alt-button-group>
                  <button alt-button [altColor]="color" class="dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
        </table>
    </alt-box>

    <ng-template #dropMenu ngPreserveWhitespaces>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </ng-template>
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Button Addon</h3>
      </div>
      <div class="box-body">
        <p>With dropdown</p>

        <div class="input-group margin">
          <div class="input-group-btn">
            <button alt-button class="dropdown-toggle" data-toggle="dropdown">Action
              <span class="fa fa-caret-down"></span></button>
             <ng-container *ngTemplateOutlet="dropMenu"></ng-container>
          </div>
          <!-- /btn-group -->
          <input type="text" class="form-control">
        </div>
        <!-- /input-group -->
        
        <p>Normal</p>

        <div class="input-group margin">
          <div class="input-group-btn">
            <button alt-button altColor="danger">Action</button>
          </div>
          <!-- /btn-group -->
          <input type="text" class="form-control">
        </div>
        <!-- /input-group -->
        <p>Flat</p>

        <div class="input-group margin">
          <input type="text" class="form-control">
          <span class="input-group-btn">
                    <button alt-button class="btn btn-info btn-flat">Go!</button>
                  </span>
        </div>
        <!-- /input-group -->
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
    <!-- split buttons box -->
    <alt-box [altBoxData]="{title: 'Split buttons'}">
      <ng-container *ngFor="let flat of [{name: 'Normal split buttons', flat: false}, {name: 'Flat split buttons', flat: true}]">
        <p>{{flat.name}}:</p>

        <div class="margin">
          <ng-container *ngFor="let color of ['default', 'info', 'danger', 'success', 'warning']" ngPreserveWhitespaces>
            <div alt-button-group>
              <button alt-button [altColor]="color" [altFlat]="flat.flat">Action</button>
              <button alt-button [altColor]="color" [altFlat]="flat.flat" class="dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
              </button>
              <ng-template *ngTemplateOutlet="dropMenu"></ng-template>
            </div>

          </ng-container>
        </div>
      </ng-container>
    </alt-box>
    <!-- end split buttons box -->

    <!-- social buttons -->
    <alt-box [altBoxData]="{customHeader: true}">
      <h3 header class="box-title">Social Buttons (By <a href="https://github.com/lipis/bootstrap-social">Lipis</a>)
      </h3>
      <ng-container *ngFor="let btn of socials" ngPreserveWhitespaces>
        <a alt-button [altBlock]="true" class="btn btn-block btn-social btn-{{btn.name}}">
          <i class="fa {{btn.icon}}"></i> {{btn.title}}
        </a>
      </ng-container>
      <br>

      <div class="text-center">
        <ng-container *ngFor="let btn of socials" ngPreserveWhitespaces>
          <a alt-button class="btn btn-social-icon btn-{{btn.name}}"><i class="fa {{btn.icon}}"></i></a>
        </ng-container>
      </div>
    </alt-box>
    <!-- /.box -->

  </div>
  <!-- /.col -->
  <div class="col-md-6">
    <!-- Application buttons -->
    <alt-box altTitle = "Application Buttons" [altWithoutBorder]="true" ngPreserveWhitespaces>
      <p>Add the classes <code>.btn.btn-app</code> to an <code>&lt;a></code> tag to achieve the following:</p>
      <a alt-app-button altIcon="fa fa-edit">Edit</a>
      <a alt-app-button altIcon="fa fa-play">Play</a>
      <a alt-app-button altIcon="fa fa-repeat">Repeat</a>
      <a alt-app-button altIcon="fa fa-pause">Pause</a>
      <a alt-app-button altIcon="fa fa-save">Save</a>
      <a alt-app-button altIcon="fa fa-bullhorn" altBadge="3" altBadgeColor="yellow">Notifications</a>
      <a alt-app-button altIcon="fa fa-barcode" altBadge="300" altBadgeColor="green">Products</a>
      <a alt-app-button altIcon="fa fa-users" altBadge="891" altBadgeColor="purple">Users</a>
      <a alt-app-button altIcon="fa fa-inbox" altBadge="67" altBadgeColor="teal">Orders</a>
      <a alt-app-button altIcon="fa fa-envelope" altBadge="12" altBadgeColor="aqua">Inbox</a>
      <a alt-app-button altIcon="fa fa-heart-o" altBadge="531" altBadgeColor="red">Likes</a>
      <!-- /.box-body -->
    </alt-box>
    <!-- /.box -->
    <!-- Various colors -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Different colors</h3>
      </div>
      <div class="box-body">
        <p>Mix and match with various background colors. Use base class <code>.btn</code> and add any available
          <code>.bg-*</code> class</p>
        <!-- You may notice a .margin class added
        here but that's only to make the content
        display correctly without having to use a table-->
        <p>
          <button alt-button class="btn bg-maroon btn-flat margin">.btn.bg-maroon.btn-flat</button>
          <button alt-button class="btn bg-purple btn-flat margin">.btn.bg-purple.btn-flat</button>
          <button alt-button class="btn bg-navy btn-flat margin">.btn.bg-navy.btn-flat</button>
          <button alt-button class="btn bg-orange btn-flat margin">.btn.bg-orange.btn-flat</button>
          <button alt-button class="btn bg-olive btn-flat margin">.btn.bg-olive.btn-flat</button>
        </p>

        <p>
          <button alt-button class="btn bg-maroon margin">.btn.bg-maroon</button>
          <button alt-button class="btn bg-purple margin">.btn.bg-purple</button>
          <button alt-button class="btn bg-navy margin">.btn.bg-navy</button>
          <button alt-button class="btn bg-orange margin">.btn.bg-orange</button>
          <button alt-button class="btn bg-olive margin">.btn.bg-olive</button>
        </p>
      </div>
    </div>
    <!-- /.box -->

    <!-- Vertical grouping -->
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Vertical Button Group</h3>
      </div>
      <div class="box-body table-responsive pad">

        <p>
          Vertical button groups are easy to create with bootstrap. Just add your buttons
          inside <code>&lt;div class="btn-group-vertical"&gt;&lt;/div&gt;</code>
        </p>

        <table class="table table-bordered">
          <tr>
            <th>Button</th>
            <th>Icons</th>
            <th>Flat</th>
            <th>Dropdown</th>
          </tr>
          <!-- Default -->
          <tr>
            <td>
              <div class="btn-group-vertical">
                <button alt-button class="btn btn-default">Top</button>
                <button alt-button class="btn btn-default">Middle</button>
                <button alt-button class="btn btn-default">Bottom</button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button class="btn btn-default"><i class="fa fa-align-left"></i></button>
                <button alt-button class="btn btn-default"><i class="fa fa-align-center"></i></button>
                <button alt-button class="btn btn-default"><i class="fa fa-align-right"></i></button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button class="btn btn-default btn-flat"><i class="fa fa-align-left"></i></button>
                <button alt-button class="btn btn-default btn-flat"><i class="fa fa-align-center"></i></button>
                <button alt-button class="btn btn-default btn-flat"><i class="fa fa-align-right"></i></button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button class="btn btn-default">1</button>
                <button alt-button class="btn btn-default">2</button>

                <div alt-button-group>
                  <button alt-button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          <!-- ./default -->
          <!-- Info -->
          <tr>
            <td>
              <div class="btn-group-vertical">
                <button alt-button altColor="info">Top</button>
                <button alt-button altColor="info">Middle</button>
                <button alt-button altColor="info">Bottom</button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button altColor="info"><i class="fa fa-align-left"></i></button>
                <button alt-button altColor="info"><i class="fa fa-align-center"></i></button>
                <button alt-button altColor="info"><i class="fa fa-align-right"></i></button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button class="btn btn-info btn-flat"><i class="fa fa-align-left"></i></button>
                <button alt-button class="btn btn-info btn-flat"><i class="fa fa-align-center"></i></button>
                <button alt-button class="btn btn-info btn-flat"><i class="fa fa-align-right"></i></button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button altColor="info">1</button>
                <button alt-button altColor="info">2</button>

                <div alt-button-group>
                  <button alt-button class="btn btn-info dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          <!-- /. info -->
          <!-- /.danger -->
          <tr>
            <td>
              <div class="btn-group-vertical">
                <button alt-button altColor="danger">Top</button>
                <button alt-button altColor="danger">Middle</button>
                <button alt-button altColor="danger">Bottom</button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button altColor="danger"><i class="fa fa-align-left"></i></button>
                <button alt-button altColor="danger"><i class="fa fa-align-center"></i></button>
                <button alt-button altColor="danger"><i class="fa fa-align-right"></i></button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button class="btn btn-danger btn-flat"><i class="fa fa-align-left"></i></button>
                <button alt-button class="btn btn-danger btn-flat"><i class="fa fa-align-center"></i></button>
                <button alt-button class="btn btn-danger btn-flat"><i class="fa fa-align-right"></i></button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button altColor="danger">1</button>
                <button alt-button altColor="danger">2</button>

                <div alt-button-group>
                  <button alt-button class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          <!-- /.danger -->
          <!-- warning -->
          <tr>
            <td>
              <div class="btn-group-vertical">
                <button alt-button altColor="warning">Top</button>
                <button alt-button altColor="warning">Middle</button>
                <button alt-button altColor="warning">Bottom</button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button altColor="warning"><i class="fa fa-align-left"></i></button>
                <button alt-button altColor="warning"><i class="fa fa-align-center"></i></button>
                <button alt-button altColor="warning"><i class="fa fa-align-right"></i></button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button class="btn btn-warning btn-flat"><i class="fa fa-align-left"></i></button>
                <button alt-button class="btn btn-warning btn-flat"><i class="fa fa-align-center"></i></button>
                <button alt-button class="btn btn-warning btn-flat"><i class="fa fa-align-right"></i></button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button altColor="warning">1</button>
                <button alt-button altColor="warning">2</button>

                <div alt-button-group>
                  <button alt-button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          <!-- /.warning -->
          <!-- success -->
          <tr>
            <td>
              <div class="btn-group-vertical">
                <button alt-button altColor="success">Top</button>
                <button alt-button altColor="success">Middle</button>
                <button alt-button altColor="success">Bottom</button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button altColor="success"><i class="fa fa-align-left"></i></button>
                <button alt-button altColor="success"><i class="fa fa-align-center"></i></button>
                <button alt-button altColor="success"><i class="fa fa-align-right"></i></button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button class="btn btn-success btn-flat"><i class="fa fa-align-left"></i></button>
                <button alt-button class="btn btn-success btn-flat"><i class="fa fa-align-center"></i></button>
                <button alt-button class="btn btn-success btn-flat"><i class="fa fa-align-right"></i></button>
              </div>
            </td>
            <td>
              <div class="btn-group-vertical">
                <button alt-button altColor="success">1</button>
                <button alt-button altColor="success">2</button>

                <div alt-button-group>
                  <button alt-button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Dropdown link</a></li>
                    <li><a href="#">Dropdown link</a></li>
                  </ul>
                </div>
              </div>
            </td>
          </tr>
          <!-- /.success -->
        </table>
      </div>
      <!-- /.box-body -->
    </div>
    <!-- /.box -->
  </div>
  <!-- /.col -->
</div>
<!-- /. row -->
